DATABASE_URL=postgresql://postgres.qzuuqabrpvsrnqzlrwse:Kmbx112%40143@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_SECRET=f77cfb141c4709eac71eef33257baabb7ba3dfac3a7bae6bdb8f7b2ffd3fd49b
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
VITE_APP_ID=
VITE_OAUTH_PORTAL_URL=
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=
